name: oauth2-demo

services:
  postgres:
    image: postgres:latest
    container_name: keycloak-db
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: secret123
    volumes:
      - keycloak-db-data:/var/lib/postgresql/data
    networks:
      - keycloak-net

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.7
    container_name: keycloak-app
    restart: unless-stopped
    command:
      - start-dev
      - --import-realm
    ports:
      - "9090:8080"
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_PORT: 5432
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: secret123
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    volumes:
      - ./oauth2-demo-realm.json:/opt/keycloak/data/import/oauth2-demo-realm.json
      - keycloak-data:/opt/keycloak/data
    depends_on:
      - postgres
    networks:
      - keycloak-net

volumes:
  keycloak-data:
  keycloak-db-data:

networks:
  keycloak-net:
